body {
 	font-family: serif;
}




.icon {
	text-decoration: underline;
	color: grey;
	font-size: 10px;
	
}
.second {
	margin: 0 10px;
	padding: 0 50px;
}
#school {
	margin-bottom: 5px;
}